#page-title {
  text-align: center;
}

#picture-container {
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

#image {
  width: 100%;
  border: 1px solid black;
}

#picture-css {
  width: auto;
  height: auto;
  background-image: url(../images/b2.jpg);
  opacity: 0.5;
}

#hovers {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  opacity: 1;
}

#hovers:hover {
  background-color: pink;
  color: white;
}